/* UserInfoPage.css */

.userInfoPageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.userInfoForm {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 5px;
}

.radioGroup {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.radioGroup span {
  margin-right: 10px;
}

input[type="radio"] {
  margin-right: 5px;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

/* Responsive styles */
@media (max-width: 768px) {
  .userInfoForm {
    max-width: 100%;
  }
}
